extends baseEmail

block content
    p Hi #{firstName},
    p Welcome to Varsity Clinic, we're glad to have you.
    .line
    p If you need any help with booking a treatment room or the studio/classroom, please don't hesitate to contact me!
    p - Alison Carey, manager
