.roomBtn-container
    button.roomBtn.roomBtn-active#roomBtn1(name='vcroom1') 1 Massage
    button.roomBtn.roomBtn-active#roomBtn2(name='vcroom2') 2 Counselling
    button.roomBtn.roomBtn-active#roomBtn3(name='vcroom3') 3 Chiropractic
    button.roomBtn.roomBtn-active#roomBtn4(name='vcroom4') 4 Massage
    button.roomBtn.roomBtn-active#roomBtn5(name='vcroom5') 5 Counselling
    button.roomBtn.roomBtn-active#roomBtn6(name='vcroom6') Studio/Classroom
.selectBtn-container
    button.roomBtn.roomBtn-active#selectAll Select All
    button.roomBtn.roomBtn-active#selectNone Select None