.tabs
    button.chevron#js--chevronLeft <
    button.tabBtn#js--dayCalendar Day View
    button.tabBtn#js--weekCalendar Week View
    button.tabBtn#js--monthCalendar Month View
    button.tabBtn#js--yearCalendar Year View
    button.chevron#js--chevronRight >
.dateCurrentlyDisplayed#js--dateCurrentlyDisplayed today