extends base

block content
    
    #data(hidden=true)= bookingItemsJSON
    include _tabs
    .grid-container-header.grid-container-headerDay
        .grid-item.grid-header
            p
        .grid-item.grid-header
            p 1 Massage
        .grid-item.grid-header
            p 2 Counselling
        .grid-item.grid-header
            p 3 Chiropractic
        .grid-item.grid-header
            p 4 Massage
        .grid-item.grid-header
            p 5 Counselling
        .grid-item.grid-header
            p Studio/Classroom
    .grid-container.grid-container-day