extends base

block content
    div(style="width: 100%")
        h1(style="color: purple; text-align:center") My Bookings
        h2(style="color: purple; text-align:center") Under Construction
        img(src='/img/underConstruction.png' style="height: 150px;margin-left: 50%;transform: translate(-50%, 0); margin-bottom: 35px" alt="under construction")