extends base

block content
    main.main
        .user-view             
            .user-view__content   
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Password Reset
                    form#js--resetPasswordForm.form.form-user-password
                        .loginFormGroup
                            label.form__label(for='token') token
                            input#js--token.form__input
                        .loginFormGroup
                            label.form__label(for='password') New password
                            input#js--resetPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .loginFormGroup.ma-bt-lg
                            label.form__label(for='password-confirm') Confirm password
                            input#js--resetPasswordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .loginFormGroup.right
                            button#js--resetPasswordBtn.btn.formBtn.btn--small.btn--green Save password
                            button.btn.formBtn.btn--small.btn--green(type='reset') Cancel
