extends base

block content
    include _tabs
    div(style="width: 100%")
        h1(style="color: purple; text-align:center") Year Calendar View
        h2(style="color: purple; text-align:center") Under Construction
        img(src='/img/underConstruction.png' style="height: 150px;margin-left: 50%;transform: translate(-50%, 0);" alt="under construction")
    
